body{width:100%}
.nav,.mainbav,.container-header,.container-main,.price-msg,.service,.foot-info{
width:1226px;
margin:auto}
/*顶部导航样式*/
.intopnav{
    width:100%;
    background-color: #333;
}
.topnav{
    height:40px;
    
}
.topnav-cen{
    width:1226px;
    height:40px;
    margin:0 auto;
    color:#b0b0b0; 
}
/* 顶部导航左边部分 */
.topnav-l ul li{
    float: left;
}
.topnav-l ul li a{
    color:#b0b0b0;
    font-size:12px;
    line-height: 40px;
}
.topnav-l ul li a:hover{
    color:#fff;
    text-decoration: none;
}
.sep{
    color:#424242;
    margin:0.2em;
}
/* 顶部导航右边部分 */
.topnav-r ul{
    float: right;
}
.topnav-r ul li{
    float: left;
}
.topnav-r ul li a{
    font-size:12px;
    color:#b0b0b0;
    line-height: 40px;
    padding:0.5em;
}
.topnav-r ul li a:hover{
    color:#fff;
    text-decoration: none;
}
.topnav-r ul li:last-child{
    width:120px;
    height:40px;
    background-color: #424242;
    text-align: center;
}
/* 主导航 */
.mainbay-cen{
    margin:0 auto;
    width:1226px;
    height:100px;
}
/* 主导航左边部分 */
.main-l a{
    display: block;
    width:55px;
    height:55px;
    color:#fff;
    background-color:#ff6700;
    text-align: center;
    float: left;
    margin-top:25px;
}
.main-l a:hover{
    color: #fff;
    text-decoration: none;
}
.main-l a em{
    font-size:35px;
    line-height: 55px;
   
}
/* 主导航中间部分 */
.main-c ul{
    padding-left:100px;
}
.main-c ul li{
    float: left;
    padding:0 10px;
    line-height: 100px;
}
.main-c ul li a{
    font-size:16px;
    color:#333;
}
.main-c ul li a:hover{
    color: #ff6700;
    text-decoration: none;
}
/* 主导航右边部分 */
.main-r form{
    width:296px;
    height:50px;
    border:1px solid #ccc;
    float: right;
    margin-top:25px;
}
.main-r .txt{
    border:none;
    width:240px;
    height:48px;
    float: left;
    outline: none;
    border-right:solid 1px #ccc
}
.main-r .sub{
    width:52px;
    height:48px;
    border:none;
    float: left;
    text-align: center;
    font-size:22px;
}


/******* mainbav end *******/
.incontainer-header{
    border-top:1px solid #ccc;
    box-shadow: 0,3px,0,0,rgba(0,0,0,0.5)
}
.container-header{   
    height:57px;
    width:1226px;
    overflow: hidden;
}
.container-header h2{
    width:60px;
    float: left;
    margin:0;  
    font-size: 18px;
    font-weight: 400;
    line-height: 57px;
    color:#212121;   
}
#conteainer-le{
    float: left;
}
.container-header .container-header-left{
    float: left;
    font-size:12px;
    margin:21px 0 0 5px;
    
}
.container-header .container-header-left .spansolid{
    margin:0.25em;
    color:#212121;
}
.container-header .container-header-left a,.container-header .container-header-right a{
    color:#616161;
}
.container-header .container-header-left a:hover,.container-header .container-header-right a:hover{
    color:#ff6700;
}
.container-header .container-header-right{
    float: right;
    margin:17px 0 0 0;
}
.container-header .container-header-right .spansolid{
    color:#e0e0e0;
}
.container-header .container-header-right .btn-primary{
    color:#fff;
    margin-left:5px;
    text-align: inherit;
    background-color:#ff6700;
    border-color:#ff6700;
}
.container-header-right .btn a:hover{
    color:#fff;
}
/******* container-header end *******/
.login-notic{
    height:px;
    line-height:48px;
    font-size:14px;
    text-align:center;
    background-color:#f0f0f0;
}
 .login-notic a{
    color:#ff6700;
}
.notic-getout{
    font-size:18px;
    font-weight: 300px;
}
/* 登录提醒 end */
.incontainer-main{ 
    height:1504px;
    background-color:#fff;
    overflow: hidden;
}
.container-main-left{
    width:50%;
    float: left;
}
.container-main-left .Rotationchart{
    width:560px;
    height:560px;
    overflow:hidden;
    position: relative;         
}
.Rotationchart .chart-img{
    position: relative;
}
.Rotationchart .chart-img img{
    width:560px;
    height:560px;
    position:absolute;
        top:0;
        left:0;

}
.Rotationchart .chart-tip ul{
    width:560px;
    height: 8px;
    bottom:10px;
    position: absolute;
    margin-left:160px;
}
.Rotationchart .chart-tip ul li{
    float: left;
    margin-top: 6px;
    width:50px;
    height: 2px;
    margin:0 5px;   
    background-color:#ccc;
    
}
.Rotationchart .chart-tip ul li .active{
    background-color: #b0b0b0;
}
.container-main-left .icon-btn{
    height:69px;
    width:560px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:48%;
    text-align: center;
}
.container-main-left .icon-btn a{
    height:69px;
    width:41px;
    color:#ccc;
    opacity: 1;
    text-decoration:none;
    font-size:35px;
    padding-top:10px;
    
    
}
.container-main-left .icon-btn a:hover{
    background-color: #606060d2;
    color:#f0f0f0;
}
/* 以上是轮播图部分 */
.container-main-right{
    width:50%;
    float:right;
}
.container-main-right > .mititle{
    border-bottom:1px solid #f0f0f0e0;

}
.container-main-right > .givefans{
    height: 47px;    
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
}
.container-main-right > .givefans > .gift{
    width:80px;
    display: inline-block;
    padding:2px 0;
    margin-top:11px;
    text-align: center;
    background-color:#ff6700;
    color:#fff;
}
.container-main-right > .address{
    margin:40px 0;   
}
.container-main-right > .address > .changeadd{
    background-color:#fafafa;
    border:1px solid #eee;
    padding:30px 40px 30px 50px;
}
.add-tip{
    display:inline-block;
}
.add-tip >span{
    padding:0 5px;
}
.changeadd .change{
    color:#ff6700;
}
.changeadd > .havenow{
    padding-left:25px;
    color:#ff6700;
}

/******* incontainer-main end *******/

.price-msg{
    height:315px;
}

/******* price-msg end *******/

.service{
    color:#fff;
}
.service-top{
    height:80px;
}
.service-main{
    height:192px;
}

/*******service end*******/

.foot-info{
    height:230px;
}

/******* end *******/